$primaryDarkColor: #222222;

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Montserrat, sans-serif;
}

h3 {
  font-size: 0.9rem;
  color: #3a3a3a;
  font-weight: 500;
}

p {
  font-size: 0.75rem;
  color: #616161;
}

li {
  font-size: 0.75rem;
}

.bold {
  font-weight: 600;
}

.active {
  color: rgb(232, 25, 72) !important;
}

.header {
  display: flex;
  padding: 0.8rem 1.5rem;
  box-sizing: border-box;
  width: 90%;
  margin: 1rem auto;
  border-radius: 180px;
  border: 1px solid #9292923b;
  box-shadow: 0 3px 10px 2px #9292923b;
  &__search-icon {
    display: flex;
    align-items: center;
    margin-right: 1rem;
    & i {
      font-size: 1.2rem;
    }
  }
  &__menu {
    list-style: none;
    display: flex;
    &__item {
      padding: 0 0.4rem;
      position: relative;
      &:first-child {
        padding: 0 0.4rem 0 0;
      }
      &:last-child {
        &::after {
          content: none;
        }
      }
      &::after {
        position: absolute;
        top: 50%;
        transform: translateX(-50%);
        right: -1px;
        content: "";
        width: 2px;
        height: 2px;
        background: #6a6a6a;
      }
    }
  }
}

.navbar {
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-top: 1px solid #9292923b;
  &__icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.4rem;
    & p {
      font-size: 0.6rem;
    }
    &__svg {
      color: #616161;
    }
  }
}

.main-container {
  &__headline {
    margin-left: 1rem;
    margin-top: 2rem;
  }
  &__categories {
    overflow: auto;
    position: relative;
    display: flex;
    align-items: center;
    gap: 1.3rem;
    padding: 0 0 1rem 0;
    margin-left: 1rem;
    margin-right: 1rem;
    font-weight: 600;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    &::-webkit-scrollbar {
      display: none;
    }
    &__category {
      position: relative;
      z-index: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.5rem;
      white-space: nowrap;
      flex: auto;
      &:first-child {
        & p {
          color: #222222;
        }
        &::after {
          content: "";
          width: 100%;
          height: 2px;
          background: #222222;
          position: absolute;
          bottom: -16px;
        }
        & img {
          opacity: 1;
        }
      }
      & img {
        width: 25px;
        opacity: 0.6;
      }
    }
  }
  &__places {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    gap: 1.7rem;
    padding: 0 1rem;
    &__place-card {
      cursor: pointer;
      position: relative;
      line-height: 22px;
      & p {
        font-size: 0.9rem !important;
      }

      &__pagination {
        position: absolute;
        width: 100%;
        bottom: 25%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.4rem;
        &__dot {
          border-radius: 180px;
          width: 8px;
          height: 8px;
          background: #e9e9e9;
          opacity: 0.8;
          &:nth-child(4) {
            width: 6px;
            height: 6px;
          }
          &:last-child {
            width: 4px;
            height: 4px;
          }
        }
      }
      &__buttons {
        box-sizing: border-box;
        position: absolute;
        width: 100%;
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        &__button {
          padding: 0.55rem;
          // padding: 0.4rem 0.5rem 0.4rem 0.5rem;
          background: #ffffff;
          opacity: 0.8;
          border: 0;
          border-radius: 180px;
          transition: all 0.2s;
          //apply hover effect to all elements except first one
          &:not(:first-child):hover {
            opacity: 1;
          }
          & i {
            font-size: 0.9rem !important;
            color: #222222;
            //This is the same as font-size to keep perfect circle
            width: 0.9rem;
            height: 0.9rem;
          }
        }
      }

      &__image {
        width: 100%;
        aspect-ratio: 1/1;
        border-radius: 12px;
        object-fit: cover;
      }
      &__title {
        color: #222222;
        overflow: hidden;
        white-space: nowrap;
        font-weight: bold;
      }
      &__avaibility {
        font-weight: bold;
        color: #222222;
      }
    }
  }
}
