* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Montserrat, sans-serif;
}

h3 {
  font-size: 0.9rem;
  color: #3a3a3a;
  font-weight: 500;
}

p {
  font-size: 0.75rem;
  color: #616161;
}

li {
  font-size: 0.75rem;
}

.bold {
  font-weight: 600;
}

.active {
  color: rgb(232, 25, 72) !important;
}

.header {
  display: flex;
  padding: 0.8rem 1.5rem;
  box-sizing: border-box;
  width: 90%;
  margin: 1rem auto;
  border-radius: 180px;
  border: 1px solid rgba(146, 146, 146, 0.231372549);
  box-shadow: 0 3px 10px 2px rgba(146, 146, 146, 0.231372549);
}
.header__search-icon {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}
.header__search-icon i {
  font-size: 1.2rem;
}
.header__menu {
  list-style: none;
  display: flex;
}
.header__menu__item {
  padding: 0 0.4rem;
  position: relative;
}
.header__menu__item:first-child {
  padding: 0 0.4rem 0 0;
}
.header__menu__item:last-child::after {
  content: none;
}
.header__menu__item::after {
  position: absolute;
  top: 50%;
  transform: translateX(-50%);
  right: -1px;
  content: "";
  width: 2px;
  height: 2px;
  background: #6a6a6a;
}

.navbar {
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-top: 1px solid rgba(146, 146, 146, 0.231372549);
}
.navbar__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.4rem;
}
.navbar__icon p {
  font-size: 0.6rem;
}
.navbar__icon__svg {
  color: #616161;
}

.main-container__headline {
  margin-left: 1rem;
  margin-top: 2rem;
}
.main-container__categories {
  overflow: auto;
  position: relative;
  display: flex;
  align-items: center;
  gap: 1.3rem;
  padding: 0 0 1rem 0;
  margin-left: 1rem;
  margin-right: 1rem;
  font-weight: 600;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.main-container__categories::-webkit-scrollbar {
  display: none;
}
.main-container__categories__category {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  white-space: nowrap;
  flex: auto;
}
.main-container__categories__category:first-child p {
  color: #222222;
}
.main-container__categories__category:first-child::after {
  content: "";
  width: 100%;
  height: 2px;
  background: #222222;
  position: absolute;
  bottom: -16px;
}
.main-container__categories__category:first-child img {
  opacity: 1;
}
.main-container__categories__category img {
  width: 25px;
  opacity: 0.6;
}
.main-container__places {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  gap: 1.7rem;
  padding: 0 1rem;
}
.main-container__places__place-card {
  cursor: pointer;
  position: relative;
  line-height: 22px;
}
.main-container__places__place-card p {
  font-size: 0.9rem !important;
}
.main-container__places__place-card__pagination {
  position: absolute;
  width: 100%;
  bottom: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
}
.main-container__places__place-card__pagination__dot {
  border-radius: 180px;
  width: 8px;
  height: 8px;
  background: #e9e9e9;
  opacity: 0.8;
}
.main-container__places__place-card__pagination__dot:nth-child(4) {
  width: 6px;
  height: 6px;
}
.main-container__places__place-card__pagination__dot:last-child {
  width: 4px;
  height: 4px;
}
.main-container__places__place-card__buttons {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}
.main-container__places__place-card__buttons__button {
  padding: 0.55rem;
  background: #ffffff;
  opacity: 0.8;
  border: 0;
  border-radius: 180px;
  transition: all 0.2s;
}
.main-container__places__place-card__buttons__button:not(:first-child):hover {
  opacity: 1;
}
.main-container__places__place-card__buttons__button i {
  font-size: 0.9rem !important;
  color: #222222;
  width: 0.9rem;
  height: 0.9rem;
}
.main-container__places__place-card__image {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 12px;
  -o-object-fit: cover;
     object-fit: cover;
}
.main-container__places__place-card__title {
  color: #222222;
  overflow: hidden;
  white-space: nowrap;
  font-weight: bold;
}
.main-container__places__place-card__avaibility {
  font-weight: bold;
  color: #222222;
}

.footer {
  background: #f7f7f7;
  position: relative;
  padding: 2rem 1rem 1rem 1rem;
  margin-top: 2rem;
}
.footer li,
.footer p {
  font-size: 0.9rem !important;
}
.footer__headline {
  font-size: 1.375rem !important;
  letter-spacing: -1px;
  margin: 1rem 0;
}
.footer__top-menu {
  display: flex;
  gap: 1rem;
  list-style: none;
  padding: 0 0 1rem 0;
  border-bottom: 1px solid #e0e0e0;
  overflow: auto;
  white-space: nowrap;
  position: relative;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.footer__top-menu::-webkit-scrollbar {
  display: none;
}
.footer__top-menu__icon {
  position: sticky;
  right: 0;
  background: #f7f7f7;
  box-shadow: 0 0 10px 10px #f7f7f7;
}
.footer__top-menu li {
  cursor: pointer;
}
.footer__top-menu--active {
  font-weight: bold;
  position: relative;
}
.footer__top-menu--active::after {
  content: "";
  background: #1b1b1b;
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: -1rem;
}
.footer__lists {
  margin-top: 2.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2rem;
}
.footer__lists__show-more-button {
  background: transparent;
  border: 0;
  display: flex;
  align-items: center;
  gap: 0.6rem;
}
.footer__lists__show-more-button i {
  font-size: 0.9rem !important;
  color: #222222;
}
.footer__separator {
  background: #e0e0e0;
  width: 100vw;
  height: 1px;
  margin: 2rem 0 0 -1rem;
}
.footer__bottom-menu__list {
  list-style: none;
  line-height: 30px;
  margin: 0;
  padding: 1rem 0;
  border-bottom: 1px solid #e0e0e0;
}
.footer__bottom-footer {
  padding-top: 1.5rem;
}
.footer__bottom-footer__top-menu {
  display: flex;
  gap: 1rem;
  flex: auto;
}
.footer__bottom-footer__top-menu a {
  padding: 0.2rem 0.2rem 0 0.2rem;
  color: #ffffff;
  background: #1b1b1b;
}
.footer__bottom-footer__menu {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  line-height: 30px;
  margin-left: -0.6rem;
}
.footer__bottom-footer__menu__item {
  padding: 0 0.6rem;
  position: relative;
  text-wrap: wrap;
}
.footer__bottom-footer__menu__item:last-child::after {
  content: none;
}
.footer__bottom-footer__menu__item::after {
  position: absolute;
  top: 50%;
  transform: translateX(-50%);
  right: -1px;
  content: "";
  width: 2px;
  height: 2px;
  background: #6a6a6a;
}
.footer__bottom-footer__copyright {
  margin-top: 2rem;
}/*# sourceMappingURL=style.css.map */